# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
trait_conservation.R

# Example code in package build process
#*-Ex.R

# Output files from R CMD build
#/*.tar.gz

# Output files from R CMD check
#/*.Rcheck/

# RStudio files
.Rproj.user/
#/*.Rproj

# produced vignettes
#vignettes/*.html
#vignettes/*.pdf

# temp directory
tmp/*

# large data (i.e.hmm database)
inst/extdata/hmm/arcbacribosomal/*
inst/extdata/hmm/dbcan/*
inst/extdata/hmm/hmmpress/*
inst/extdata/hmm/microtrait-hmmdb/*
#inst/extdata/genomic/100genomes
# add exception, to make sure the directories can be committed
!inst/extdata/hmm/arcbacribosomal/.gitkeep
!inst/extdata/hmm/dbcan/.gitkeep
!inst/extdata/hmm/hmmpress/.gitkeep
!inst/extdata/hmm/microtrait-hmmdb/.gitkeep
!inst/extdata/genomic/100genomes/.gitkeep

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
# .httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
